
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* ReDBox custom
-------------------------------------------------- */
.data-lifecycle-item {
    font-size: 2.5rem;
    background-color: #cc0000;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    width: 3.25em;
}

body > main > div.container > h2 {
    margin-top: 1.2em;
}
body > main > div.container > h3 {
    margin-top: 0.9em;
}
body > main > div.container > h4 {
    margin-top: 0.6em;
}
