---
layout: default
---

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ '/static/images/patrick-lindenberg-191841_web.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p class="opacity-75">Some representative placeholder content for the first slide of the
                        carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/plan.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/dmitrij-paskevic-44124_web.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/homepage1.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the fourth slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/homepage2.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the fifth slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/homepage3.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the sixth slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/homepage5.jpg' | relative_url }}"
                 class="d-block w-100 my-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the seventh slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ '/static/images/homepage6.jpg' | relative_url }}"
                 class="d-block w-100 mx-auto" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the eighth slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container my-5">
    <div class="p-3 text-center bg-body-tertiary rounded-3">
        <img src="{{ '/static/images/redbox-logo-nobg-open-180.png' | relative_url }}" class="mt-4 mb-3" alt="">
        <h1 class="text-body-emphasis">ReDBox</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Research Data Box
        </p>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <i class="bi-card-checklist data-lifecycle-item"></i>
            <h2 class="fw-normal">Plan</h2>
            <p>Plan your data management with ReDBox DMP tool and ReDBox DLC</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/plan.md %}">View details &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="bi bi-laptop data-lifecycle-item"></i>
            <h2 class="fw-normal">Create</h2>
            <p>Create your research data collection and manage it with ReDBox.</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/create.md %}">View details &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="bi bi-rocket-takeoff-fill data-lifecycle-item"></i>
            <h2 class="fw-normal">Publish</h2>
            <p>Publish your metadata and data to international repositories.</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/publish.md %}">View details &raquo;</a>
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Plan, Create and Publish your data
                <span class="text-body-secondary">
                        with ReDBox
                    </span>
            </h2>
            <p class="lead">
                Gain visibility into how researchers manage and publish their data
                alongside assurances that researcher practices conform to standards and expectations.
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                A research data management platform
                <span class="text-body-secondary">
                        integrated into your systems
                    </span>
            </h2>
            <p class="lead">
                Researchers will have ReDBox as a single point of access to data management plans.
                Life is easier for everyone with autocompleted data entry and smooth access to the
                organisation's suite of service offerings.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Access support, suggestions, and planning help
                <span class="text-body-secondary">
                        by the ReDBox team
                    </span>
            </h2>
            <p class="lead">
                A range of subscription and ad-hoc support options at competitive prices.
                You'll be in good hands with direct access to the experienced team that maintains ReDBox.
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
