---
layout: default
---

<div class="container my-5">
    <div class="p-3 text-center bg-body-tertiary rounded-3">
        <img src="{{ '/static/images/redbox-logo-nobg-open-180.png' | relative_url }}" class="mt-4 mb-3" alt="">
        <h1 class="text-body-emphasis">ReDBox</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Research Data Box
        </p>
    </div>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <i class="bi-card-checklist data-lifecycle-item"></i>
            <h2 class="fw-normal">Plan</h2>
            <p>Plan your data management with ReDBox DMP tool and ReDBox DLC</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/plan.md %}">View details
                    &raquo;</a>
            </p>
        </div>

        <div class="col-lg-4">
            <i class="bi bi-laptop data-lifecycle-item"></i>
            <h2 class="fw-normal">Create</h2>
            <p>Create your research data collection and manage it with ReDBox.</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/create.md %}">View details
                    &raquo;</a>
            </p>
        </div>

        <div class="col-lg-4">
            <i class="bi bi-rocket-takeoff-fill data-lifecycle-item"></i>
            <h2 class="fw-normal">Publish</h2>
            <p>Publish your metadata and data to international repositories.</p>
            <p>
                <a class="btn btn-secondary" href="{{ site.baseurl }}{% link data-lifecycle/publish.md %}">View details
                    &raquo;</a>
            </p>
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Plan, Create and Publish your data
                <span class="text-body-secondary">
                        with ReDBox
                    </span>
            </h2>
            <p class="lead">
                Gain visibility into how researchers manage and publish their data
                alongside assurances that researcher practices conform to standards and expectations.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{ '/static/images/home-plan-create-publish.jpg' | relative_url }}"
                 class="img-fluid" alt="Plan, create, and publish your data.">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
                A research data management platform
                <span class="text-body-secondary">
                        integrated into your systems
                    </span>
            </h2>
            <p class="lead">
                Researchers will have ReDBox as a single point of access to data management plans.
                Life is easier for everyone with autocompleted data entry and smooth access to the
                organisation's suite of service offerings.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ '/static/images/home-integrate.jpg' | relative_url }}"
                 class="img-fluid" alt="A single point for research data, integrated into your systems.">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                Access support, suggestions, and planning help
                <span class="text-body-secondary">
                        by the ReDBox team
                    </span>
            </h2>
            <p class="lead">
                A range of subscription and ad-hoc support options at competitive prices.
                You'll be in good hands with direct access to the experienced team that maintains ReDBox.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{ '/static/images/home-support.jpg' | relative_url }}"
                 class="img-fluid" alt="Access support, suggestions, and planning help by the ReDBox team.">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row align-items-md-stretch mb-3">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Data Life Cycle</h2>
                <p>Find out more about how ReDBox can support the Data Life Cycle.</p>
                <a class="btn btn-outline-secondary" type="button"
                   href="{{ site.baseurl }}{% link data-lifecycle.md %}">View details</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Features for many use cases</h2>
                <p>ReDBox comes with all the essential features you'll need, plus many ways to integrate other
                    systems.</p>
                <a class="btn btn-outline-secondary" type="button" href="{{ site.baseurl }}{% link features.md %}">View
                    details</a>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch mb-3">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border  rounded-3">
                <h2>Get ReDBox</h2>
                <p>Are you ready to explore how ReDBox can enhance research at your organisation?</p>
                <a class="btn btn-outline-secondary" type="button" href="{{ site.baseurl }}{% link get-redbox.md %}">View
                    details</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Expert support</h2>
                <p>QCIF can provide a paid managed service agreement, along with the option of self-hosting the
                    open-source ReDBox product.</p>
                <a class="btn btn-outline-secondary" type="button" href="{{ site.baseurl }}{% link support.md %}">View
                    details</a>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="container text-center small">
        <div class="row">
            <div class="col">
                Flowers photo, CC BY 2.0, by
                <a href="https://www.flickr.com/photos/92082510@N04/26368953456" target="_blank"
                   rel="nofollow noreferrer noopener">
                    RB Photo
                </a>
            </div>
            <div class="col">
                River kayaking photo, CC BY 2.0, by
                <a href="https://www.flickr.com/photos/nwrafting/4750603594" target="_blank"
                   rel="nofollow noreferrer noopener">
                    Zachary Collier
                </a>
            </div>
            <div class="col">
                Observatory photo, CC BY 2.0, by
                <a href="https://www.flickr.com/photos/esoastronomy/27843791000" target="_blank"
                   rel="nofollow noreferrer noopener">
                    European Southern Observatory
                </a>
            </div>
        </div>
    </div>


</div><!-- /.container -->
